{% extends 'baselogin.html' %}
{% block title %} Contact{% endblock title %}
{% block form %}
<h2>Contact : </h2>
{% include "message.html" %}
<div class="row">
<div class="col-md-4"></div>

<div class="col-md-4">

    <h4>Address:</h4><h5>Govt. Engineering collage,Dairy Circle,Hassan</h5></h4>
    <h4>Phone:<h5>+917411067469</h5></h4>
    <h4>Email:<h5><a class="text-success" href="">gechhassan@gmail.com </a></h5></h4>
   



<div class="col-md-4"></div>

</div>


{% endblock form %}
